section.about {
  text-align: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    max-width: 500px;
    margin: 0 auto;
  }
}

section.challenges {
  .challenge {
    background: $white;
    padding: 15px;
    border-radius: 5px;
    transition: transform $transition-time;
    -webkit-box-shadow: 2px 2px 2px 2px transparentize($black, 0.95);
    box-shadow: 2px 2px 2px 2px transparentize($black, 0.95);

    &:hover {
      transform: translateY(-2px);
    }
  }
}