@keyframes gradient {
  0% {
    opacity: 0;
    background-position: 0 50%;
  }
  35% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    background-position: 100% 50%;
  }
}

@-webkit-keyframes gradient {
  0% {
    opacity: 0;
    background-position: 0 50%;
  }
  35% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    background-position: 100% 50%;
  }
}